
<ion-content  [fullscreen]="true">
  <div class="ion-text-end">
    <ion-button (click)="close()" fill="clear">
      <ion-icon name="close" slot="end"></ion-icon>
    </ion-button>
  </div>

  <div>
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">

        <ion-grid>
          <ion-row class="ion-align-items-center">

            <ion-col size="2" class="ion-align-items-self-center">
              <ion-button (click)="decreaseCartItem(p)" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="1" class="ion-align-self-center">
              {{p.amount}}
            </ion-col>

            <ion-col size="2" class="ion-align-self-center">
              <ion-button (click)="increaseCartItem(p)" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="2" offset="5">
              <ion-button (click)="removeCartItem(p)" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col size="9">
              <b>{{p.name}}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{p.amount * p.price | currency:'MXN'}}
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item>
       <ion-grid>
         <ion-row>
           <ion-col size="9">
             Total:
           </ion-col>

           <ion-col size="3" class="ion-text-end">
             {{ getTotal() | currency:'MXN' }}
           </ion-col>

         </ion-row>
       </ion-grid>

      </ion-item>
    </ion-list>

    <ion-button (click)="checkout()" expand="full">
      Checkout
    </ion-button>
  </div>
</ion-content>
